<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Calculator</title>
</head>
<body>
    <h1>Welcome to the Purchase Calculator!</h1>
    <p>To begin please input your monthly expenses and income</p>
    <form action = "" method = "post">
        <label for = ""> Monthly Expenses: <input type = "text" name = "exp"></label>
        <label for = "" > Monthly Income: <input type = "text" name = "inc"></label>
        <button>Calculate my monthly surplus</button>
</body>
</html>