<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Your monthly surplus is ${{surp}}</p>
    <label for = ""> Item Name: <input type = "text" name = "product_name"></label>
    <label for = ""> Product Price: <input type = "text" name = "product_price"></label>
    <button>Calculate!</button>
    
</body>
</html>